* { 
    border: 1px dashed;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 901px;
    margin: 30px auto;
}

li {
    list-style: none;
}

header {
    border-bottom: 10px solid grey;
    height: 70px;
}

header div {
    float: left;
}

#rss {
    margin-left: 3px;
}
header h2 {
    font-family: 'Cedarville Cursive', cursive;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    font-size: 22px;
}
header h3 {
    font-size: 8px;
    width: 300px;
    margin-left: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}
header div img {
    float:left;
    margin: 5px;
}
header nav {
    margin: 0px 2px;
    float: right;

}
header li {
    display: inline;
}

main h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 400px;
    margin-bottom: 0px;
}

#smalltext {
    padding-bottom: 20px;
}

#postdate {
    font-size: 10px;
    float:left;
    padding-top: 4px;
}

#print {
    float:right;
}

#print p{
    display: inline;
}


article {
    text-indent: 50px;
}

#recipe {
    columns: 2;
    background-image: url("../img/list-bg.png");
    padding-top: 35px;
    margin-bottom: 20px;
}
#recipe li{
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

main section {
    border-top: 10px solid grey;
}

#author1 {
    height:100px;
}
#authorimage {
    float: left;
}

#author {
    float:left;
}

#name {
    font-weight:bold;
}

button {
    float:right;
    margin-top: 30px;
    margin-right:0px;
    margin-left:10px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    width: 120px;
}

footer {
    text-align:center;
}

